<template name="home">
  
    <div class="container introduction">
      <div class="col-sm-8 col-sm-offset-4">
        <div class="jumbotron">
          <h1>We are the future of Telecom.</h1>
          <p>
            Here at FBT, we beat competitor's prices while keeping our services blazing fast.
            What makes us special isn't just the service though; for each service you buy, you
            get a free pass for our world-famous boba delivery service.
          </p>
          <p>There's a reason why customers keep coming back to us.</p>
          <p><a class="btn btn-primary btn-lg" href="{{pathFor 'register'}}" role="button">Learn more</a></p>
        </div>
      </div>
    </div>

</template>
